<footer id="footer">

  <div class="lockup">
    
    <div class="content-wrap">
      <nav>
        <a href="#about-me">{{ site.about[site.active_lang]}}</a>
      
        <a href="#post">{{ site.post[site.active_lang]}}</a>
    
        <a href="#work">{{ site.work[site.active_lang]}}</a>
    
        <a href="#contact">{{ site.contact[site.active_lang]}}</a>
      </nav>
      
      <p class="copyright">Web design attribute to <strong>Travis Neilson</strong>'s  <a href="http://devtips.github.io/Artists-Theme/">Artists-Theme</a></p>
    </div>
    
  </div>

</footer>
