<section>
  
  <h3 id="post">We Sail, write, sleep, sail, write, sleep, sail and on and on</h3>
  
  <div class="post-layout">
	{% for post in site.posts %}

	  {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

	  {% if modulo == '0' or forloop.first %}
		<div class="row">
	  {% endif %}
        <div class="post-unit {% cycle 'left', 'middle','right' %}"> 
          <div class="post-column">
		    <a href="{{ post.url }}">{{ post.title }}</a>
		  </div>
        </div>
        
	  {% if modulo == '2' or forloop.last %}
		</div>
	  {% endif %}

	{% endfor %}
  </div>
  
</section>