
.post-layout
  width: 80%
  min-height: 100px
  overflow: hidden
  margin: 0px auto
  background: white
  
  .row
    background: red
    width: cover
    margin-bottom: 4mm
    
  .post-unit
    background: white
    width: 33.33%
    text-align: center
   
  .left
    float: left
	
  .middle
    display: inline-block
    margin-left: auto
    margin-right: auto
    align-items: center
  
  .right
    float: right 
    
  .post-column
    width: 92%
    border: 2px
    border-style: solid
    border-color: #E6E6E6
    background: white
   
    
    
    
    
    
    
    
    
    