<!DOCTYPE html>
<html class="">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  
  <link rel="stylesheet" href="/assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
<div class="postpage_header">
{% include postpage_header.html %}
</div>
<div class="nav_bar">
  <nav class = "nav_item">
    {% for item in site.data.settings.navbar %}
      <a class="main-nav-link" href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</div>

<div class="archive-post-layout">
  <h3> Posts tagged "{{ page.filter_tag }}" </h3>
  {% for post in site.tags[page.filter_tag] %} 
	  {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

	  {% if modulo == '0' or forloop.first %}
		<div class="row">
	  {% endif %}
        <div class="post-unit {% cycle 'left', 'middle','right' %}"> 
          <div class="post-column">
              <div class="post-image" style="background-image: url(/assets/img/post/img-{{forloop.index}}/thumb.jpg);"></div>
              <div class="post-text">
		        <h4 class="h4post">{{ post.title }}</h4>
		           <p class="ppost">{{ post.content | strip_html | truncatewords: 11 }} </p>
		           <a class="postlink" href="{{ post.url }}">Read more</a><br><br>
		      </div>
		  </div>
        </div>
        
	  {% if modulo == '2' or forloop.last %}
		</div>
	  {% endif %}
	  
	  {% if forloop.index == forloop.last %}
	    <!-- Stop the for-loop after filling up 2 rows of 3 columns --> 
	    
	  {% endif %}
      
	{% endfor %}
  </div>

<div class="postpage_footer">
{% include footer.html %}
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
